<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
 

]>
<root id="-1">
  <homePage id="1057" key="96f9af97-15aa-4d40-ad4b-992ba9fae56e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-26T10:43:11" updateDate="2016-08-26T10:43:11" nodeName="Homepage" urlName="homepage" path="-1,1057" isDoc="" nodeType="1051" creatorName="Jeremy" writerName="Jeremy" writerID="0" template="1050" nodeTypeAlias="homePage">
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Widgets Ltd 2014"</p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
  </homePage>
</root>